.DS_Store
data/cleaned/resale_price_normalized_demographic.csv
data/cleaned/resale_price_normalized_demongraphic.csv
data/cleaned/resale_price_normalized_demographic.csv
data/cleaned/resale_price_normalized_demographic.csv
.DS_Store
/frontend/*.csv
